@use "./base.scss";

// put your custom CSS here!

// Dark mode: add white background to transparent images
[saved-theme="dark"] article img {
  background-color: white;
  padding: 0.5rem;
  border-radius: 8px;
}
